* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.container {
    width: 500px;
    height: 400px;
    display: grid;
    background: #f4f4f4;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-template-areas: 'item1 item1 item2'
        'item1 item1 item2'
        'item1 item1 item2'
        'item3 item4 item4'
        'item3 item5 item5'
        'item3 item5 item5';
}

.item1 {
    background: #f004f0;
    grid-area: item1;
}

.item2 {
    background: #e2fd13;
    grid-area: item2;
}

.item3 {
    background: #00ff00;
    grid-area: item3;
}

.item4 {
    background: #00f;
    grid-area: item4;
}

.item5 {
    background: #0faaed;
    grid-area: item5;
}